NEXT_PUBLIC_SUPABASE_URL=https://hasvcjweahfbkwniygxo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_fhdscLnPwfl5wjqnKlN4IQ_xpUXb9sr

# Nunca exponha service_role/secret keys no frontend.
